<h2>{{model.name}}</h2>

{{item-detail item=model destroyItem="destroyItem"}}

{{update-item item=model updateItem="updateItem"}}
{{new-feedback item=model saveFeedback="saveFeedback" rateStore="rateStore"}}

